* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

body {
  padding-top: 40px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__nav-items {
  width: 533px;
  display: flex;
  justify-content: space-between;
}

.header__nav-link {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}

.header__nav-link_active {
  color: #F25822;
}

.main {
  margin-top: 84px;

}

.main__content {

}

.main__info {

} 

.main__info-title {

}

.main__info-descr {
  margin-top: 17px;
}

.main__info-btns {
  margin-top: 37px;
}

.main__partnership-list {
  margin-top: 162px;
}
