* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


body {
  padding-top: 40px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__nav-items {
  width: 533px;
  display: flex;
  justify-content: space-between;
}

.header__nav-link {
  padding: 11px 0;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

.header__nav-link_active {
  color: #F25822;
}

.main {
  margin-top: 84px;
}

.main__content {
  display: flex;
  min-height: 374px;
}

.main__info {
  width: 522px;
  margin-right: 41px;
} 

.main__info-title {
  font-size: 60px;
  font-weight: 700;
  color: #000;
}

.main__info-descr {
  max-width: 466px;
  margin-top: 17px;
  font-size: 20px;
  font-weight: 400;
  color: #888;
}

.main__info-btns {
  display: flex;
  justify-content: space-between;
  max-width: 302px;
  margin-top: 37px;
}

.main__info-btn {
  border: none;
  background-color: inherit;
  font-size: 15px;
  font-weight: 400;
  color: #AAA;
}

.main__info-btn_active {
  padding: 15px 36px;
  border-radius: 50px;
  background-color: #F25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
  font-size: 15px;
  font-weight: 400;
  color: #FFF;
}

.main__partnership-list {
  display: flex;
  justify-content: space-between;
  margin-top: 162px;
}


.features {
  margin-top: 63px;
  padding: 100px 0;
}

.features__items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  width: 370px;
  padding: 40px 30px 25px;
  background: #FFF;
}

.features__item_active{
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.features__title {
  margin-top: 25px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.features__descr {
  max-width: 307px;
  margin-top: 17px;
  color: #666;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
}

.features__more {
  display: inline-block;
  margin-top: 25px;
  color: #000;
  font-size: 11px;
  font-weight: 400;
  line-height: 150%; /* 16.5px */
}


.services {
  padding: 92px 0 100px;
}

.services__content {

}

.services__title {
  color: #000;
  font-size: 45px;
  font-weight: 700;
  text-align: center;

}

.services__descr {
  max-width: 682px;
  margin: 19px auto 0;
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-align: center; 
}

.services__items {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.services__item {
  width: 370px;
  padding-bottom: 65px;
  background: #FFF;
}

.services__item_acive {
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}


.services__item-img {

}

.services__item-title {
  margin-top: 25px;
  color:#000;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.services__item-descr {
  max-width: 310px;
  margin: 22px auto 0;
  color: #AAA;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.services__item-btn {
  display: block;
  position: relative;
  width: 150px;
  margin: 39px auto 0;
  border: none;
  padding: 15px 36px 15px 46px;
  border-radius: 30px;
  background-color: #F25822;
  color: #FFF;
  font-size: 13px;
  font-weight: 700;
  line-height: 150%; /* 19.5px */
}

.services__item-btn::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 26px;
  transform: translateY(-50%);
  width: 4px;
  height: 8px;
  background: url('../image/servicesImg/arrow_right.svg') center center / contain no-repeat; 
}
